Data Analysis

In [30]:
import pm4py
import pandas as pd
from config import LOG_PATH

In [31]:
log = pm4py.read_xes(LOG_PATH)
df = pm4py.convert_to_dataframe(log)
df.head()

,vehicleClass,dismissal,amount,matricola,points,time:timestamp,org:resource,case:concept:name,expense,concept:name,lastSent,totalPaymentAmount,lifecycle:transition,paymentAmount,notificationType,article
0,A,NIL,35.0,NaN,0.0,2006-07-23 22:00:00+00:00,561,A1,NaN,Create Fine,None,0.0,complete,NaN,None,157.0
1,None,None,NaN,NaN,NaN,2006-12-04 23:00:00+00:00,None,A1,11.0,Send Fine,None,NaN,complete,NaN,None,NaN
2,A,NIL,35.0,NaN,0.0,2006-08-01 22:00:00+00:00,561,A100,NaN,Create Fine,None,0.0,complete,NaN,None,157.0
3,None,None,NaN,NaN,NaN,2006-12-11 23:00:00+00:00,None,A100,11.0,Send Fine,None,NaN,complete,NaN,None,NaN
4,None,None,NaN,NaN,NaN,2007-01-14 23:00:00+00:00,None,A100,NaN,Insert Fine Notification,P,NaN,complete,NaN,P,NaN

In [32]:
df.describe()

,amount,matricola,points,expense,totalPaymentAmount,paymentAmount,article
count,230230.000000,555.0,150370.000000,103987.000000,227971.000000,77601.000000,150370.000000
mean,63.681656,0.0,0.078879,11.948984,17.815604,46.410027,113.246658
std,89.677991,0.0,0.577687,4.023190,36.779382,39.345561,68.219475
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,7.000000
25%,33.600000,0.0,0.000000,10.000000,0.000000,33.600000,7.000000
50%,38.000000,0.0,0.000000,11.880000,0.000000,36.000000,157.000000
75%,71.500000,0.0,0.000000,13.500000,35.000000,44.670000,157.000000
max,8000.000000,0.0,10.000000,76.000000,4021.000000,3975.000000,401.000000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561470 entries, 0 to 561469
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vehicleClass          150370 non-null  object
 1   dismissal             155066 non-null  object
 2   amount                230230 non-null  float64
 3   matricola             555 non-null     float64
 4   points                150370 non-null  float64
 5   time:timestamp        561470 non-null  datetime64[ns, UTC]
 6   org:resource          150925 non-null  object
 7   case:concept:name     561470 non-null  object
 8   expense               103987 non-null  float64
 9   concept:name          561470 non-null  object
 10  lastSent              78229 non-null   object
 11  totalPaymentAmount    227971 non-null  float64
 12  lifecycle:transition  561470 non-null  object
 13  paymentAmount         77601 non-null   float64
 14  notificationType      79860 non-null   object
 15  article               150370 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(7), object(8)
memory usage: 68.5+ MB

In [34]:
# # keep only cases with at least min_events events
# def remove_short_cases(event_log, min_events=2):
#     df = pm4py.convert_to_dataframe(event_log)
#     counts = df.groupby("case:concept:name").size()
#     keep_cases = counts[counts >= min_events].index.astype(str).tolist()

#     return pm4py.filter_event_attribute_values(
#         event_log,
#         "case:concept:name",
#         keep_cases,
#         level="case",
#         retain=True,
#     )


case_lengths = df.groupby("case:concept:name").size()
print("Cases with 1 event:", (case_lengths == 1).sum())

Cases with 1 event: 0